{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%} Todo List{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/todo.css' %}" />

{% endblock %}

{% block nav %}
<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Todo List</strong> by Pamela</a>
					<nav id="nav">
						<a href="{% url 'index' %}">Accueil</a>
						<a href="{% url 'todo' %}">Tâches</a>
						<a href="{% url 'admin:index' %}">Admin</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
</header>
{% endblock %}

{% block page_content %}

<h1 class="h1">{{ todo.titre }}</h1>
<p class="p"> {{ todo.detail }}<br>{{ todo.date}}</p>

{% endblock %}
